@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'lato', sans-serif;
    cursor: none !important;
}
a:hover,
button:hover {
    cursor: none !important;;
}

.custom-main-cursor {
    height: 16px;
    width: 16px;
    background: #FFF;
    border-radius: 50%;
    opacity: 1;
    pointer-events: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    overflow: visible;
}

.cursor-hover-shadow {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    background-color: #FFA723;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    pointer-events: none;
}
